@charset "utf-8";
/* CSS Document */

hometext {
	color: #FFF;
}
hometext {
	color: #fff;
}
.texthome {
	color: #fff;
}
.texthome {
	color: #fff;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
